{% extends 'base.html' %}
{% block content %}
    {% for engineer in engineers %}
        <div class="card mt-2 text-center">
          <div class="card-body">
            <h5 class="card-title">Name: {{engineer.full_name}}</h5>
            <p class="card-text">Contact No: {{ engineer.contact_no }}</p>
              <p class="card-text">Email: {{ engineer.user.email }}</p>
{#              <p class="card-text">Passport No: {{ engineer.passport_no }}</p>#}
{#              <p class="card-text">Country: {{ engineer.country }}</p>#}
              <p class="card-text">State: {{ engineer.state}}</p>
            <a href="#" class="btn btn-primary">View Profile</a>
          </div>
</div>
    {% endfor %}
{% endblock content %}

