{% extends 'base.html' %}
{% block content %}
    {% for job in jobs %}
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">Name: {{job.location}}</h5>
            <p class="card-text">Date: {{ job.date }}</p>
            <p class="card-text">Time: {{ job.time }}</p>
              <p class="card-text">Status: {{ job.status }}</p>
              <p class="card-text">Description: {{ job.description }}</p>
              <p class="card-text">SVR ID: {{ job.SVR_ID }}</p>
              <p class="card-text">LCON Name: {{ job.LCON_name }}</p>
              <p class="card-text">LCON Contact No: {{ job.LCON_contact_no }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
</div>
    {% endfor %}
{% endblock content %}
